#form{
    margin-top: 2%;
    background-color: #f2f2f2;
    padding: 2%;
}

#form h2{
    text-align: center;
}

fieldset,input,select,textarea{
    margin-bottom: 2%;
    margin-left: 2%;
}

fieldset 
legend { 
    font-weight: bold; 
    font-size: 1.25em;
    padding-left: 3%;
}

label{
    display: block;
    padding-top: 3%;
    padding-left: 3%;
}

form #submit{
    margin: 0 auto;
    border: none;
    display: block;
    padding: 2%;
    background-color: #b3b3b3;
    font-size: 1em;
    border-radius: 10px;
}

.map {
    border: 8px solid #000;
}


header img {
    margin: 0 auto;
    /* center the logo */
}

.mobile {
    display: block;
}


.hours {
    margin-inline-start: 0%;
}

/* Tablet Viewport: Style  rule for form element  */
form{
    width: 70%;
    margin: 0 auto;
}

/* Desktop Viewport: Style rules for form elements */
form{
    width: auto;
}

.form-grid{
    display: grid;
    grid-template-columns: auto auto auto;
    grid-gap: 20px;
}

.btn{
    grid-column: 1/span 3;
}